/* 알림창 */
.alert .msg {
   position: relative;
   top: -10px;
   left: 0;
}

.alert {
   width: 100%;
   height: 100%;
   top: 120%;
   right: 0;
   font-size: 15px;
   display: none;
}


/* 메인페이지 */
/* 배너 디자인 */

.banner-header {
   position: relative;
   top: 20%;
   width: 975px;
   height: 180px;
   margin: 0 auto;
   display: block;
}

.banner-header img {
   width: 100%;
   height: 100%;  
}

.banner-contents {
   padding-top: 20px;
   font-size: 20px;
}

.banner-contents-title {
   padding-bottom: 10px;
   color: #000000;
   font-size: 25px;
   font-family: 'Courgette';
}

.banner-contents-title::after {
   content: "";
   display: block;
   width: 60px;
   border-bottom: 1px solid #d4d4d4;
   margin: 0 auto;     
}

.banner-contents-context {
   line-height: 25px;
   font-size: 15px;
   font-family: 'Source+Sans+Pro', serif;
   text-align: center;
   color: #000000;
}

.banner-contents-context p {
   padding-top: 0px;
   padding-bottom: 10px;
}

.banner-contents-context span {
   color: #926a98;
}

/* contents 부분 */

#gallery_contents {
   width: 100%;
   height: 100%;
   color: #000000;
   font-size: 30px;
   background: #f6f7f8;
}

figure.columns-img a {
   cursor: pointer; 
}

/* media query */
@media (min-width: 320px) and (max-width: 1000px) {
 #wrap {
     width: 1000px;
 } 
}

@media (max-width: 1366px) {
 
}

@media (max-width: 986px) {
 .columns-area .columns {
   max-width: 700px;
   position: relative;
   top: 0;
   left: -20px; 
 }
}

@media (max-width: 900px) {
 .columns-area .columns {
   max-width: 500px;
   left: -45px;
 }
}

@media (max-width: 800px) {
 #gallery_contents .columns {
   max-width: 300px;
   left: -100px;
 } 
}

@media (max-width: 700px) {
 #gallery_contents .columns {
   max-width: 200px;
   left: -150px;
 } 
}

@media (min-width: 320px) and (max-width: 620px) {
 #gallery_contents .columns {
   max-width: 150px;
   left: -300px;
 } 
}




