/* 알림창 */
.alert .msg {
   position: relative;
   top: -10px;
   left: 0;
}

.alert {
   width: 100%;
   height: 100%;
   top: 120%;
   right: 0;
   font-size: 15px;
   display: none;
}

/* 배너 부분 */

#banner {
   width: 100%;
   height: 600px;
   margin: 0;
   padding: 0;
   background: #ffffff;
   text-align: center;
   color: #777777;
   visibility: hidden;
}

div.animsition {
   position: relative; 
}

#banner {
   background-position: center;
   background-attachment: scroll;   
   background-repeat: no-repeat;
   background-size: cover;  
}

.banner-title-wrap {
   background-image: none;
   background-attachment: scroll;
   background-size: cover;
}

.banner-title {
   text-align: center;
   position: relative;
   z-index: 8;
}

.banner-title h1 {
   font-size: 60px;
   font-weight: normal;
   line-height: 1em;
   margin: 0;
   padding: 0;
   color: #000000;
   font-family: 'Helvetica',Arial,sans-serif;
   box-sizing: border-box;
}

.banner-title p {
   margin-bottom: 0;
   margin: 0 0 20px; 
   padding-top: 10px;
   font-size: 14px;
   font-family: 'Helvetica',Arial,sans-serif;
   color: #777777;
}

.banner-header {
   position: relative;
   top: 20%;
   width: 975px;
   height: 180px;
   margin: 0 auto;
   display: block;
}

.banner-header img {
   width: 100%;
   height: 100%;  
}

.banner-contents {
   padding-top: 20px;
   font-size: 20px;
}

.banner-contents-title {
   padding-bottom: 10px;
   color: #000000;
   font-size: 25px;
   font-family: 'Courgette';
}

.banner-contents-title::after {
   content: "";
   display: block;
   width: 60px;
   border-bottom: 1px solid #d4d4d4;
   margin: 0 auto;     
}

.banner-contents-context {
   line-height: 25px;
   font-size: 15px;
   font-family: 'Source+Sans+Pro', serif;
   text-align: center;
   color: #000000;
}

.banner-contents-context p {
   padding-top: 0px;
   padding-bottom: 10px;
}

.banner-contents-context span {
   color: #926a98;
}

/* contents 부분 */

#gallery_contents {
   width: 100%;
   height: 100%;
   color: #000000;
   font-size: 30px;
   background: #f6f7f8;
}

figure.columns-img a {
   cursor: pointer; 
}

.columns-area {
   display: inline-block;
}

.columns {
    column-width: 200px;
    column-gap: 50px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    display: inline-block;
}

.columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    visibility: hidden;
}

.columns.columns-img a {
    cursor: pointer;
}

div.columns figure img {
   width: 100%; 
   height: auto;
   border-bottom: 1px solid #cccccc;
   padding-bottom: 15px;
   margin-bottom: 5px;
}

div.columns figure figcaption {
   font-size: .8rem;
   color: #444444;
   line-height: 1.5;
   font-family: 'Helvetica',Arial,sans-serif;
   text-align: left;
}

div.columns:hover figure:not(:hover) {
    opacity: 0.4;
}

div.columns:hover figure:not(:active) {
   opacity: 0.4;
}

