/* 메인 페이지 */
.today {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 150px;
    padding-right: 200px;
    height: 410px;
    color: #000000;
    font-size: 35px;
    opacity: 1;
 }
 
 .today-text-0 {
     width: 50px;
     height: 50px;
     color: #ffffff;
     border: 1px solid #d5b9d2;
     background: #d5b9d2;
     display: inline-block;
 }
 
 .today-text-1 {
    width: 50px;
    height: 50px;
    color: #ffffff;
    border: 1px solid #c7a8c4;
    background: #c7a8c4;
    display: inline-block;
 }
 
 .today-text-2 {
    width: 50px;
    height: 50px;
    color: #ffffff;
    border: 1px solid #c3a1c7;
    background: #c3a1c7;
    display: inline-block;
 }
 
 .word {
    position: absolute;
    width: 200px;
    height: 100px;
    opacity: 0;
 }
 
 div.today>p { 
   display: inline-block;
   vertical-align: top;
   margin: 0; 
 }
 
 
 .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(20px);
    transform-origin: 50% 50% 25px;
  }
 
 
 /* 글자가 바깥쪽으로 변형하는 모션 */
  .letter.out {
    transform: rotateX(90deg); 
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  /* 글자가 안으로 변형하는 모션 */
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #8e44ad;
  }
  
  .belize {
    color: #2980b9;
  }
  
  .pomegranate {
    color: #c0392b;
  }
  
  .green {
    color: #16a085;
  }
  
  .midnight {
    color: #2c3e50;
  }
  
 
 /*  배너 디자인 */
 .bd-example {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    z-index: -333;
 }
 
 .carousel-control-prev {
    z-index: 3;
 }
 
 .carousel-control-next {
    z-index: 3;
 }
 
 /* width 값은 무조건 부모를 상속 받게 되어있음 */
 .w-100 { 
    width: 100%;
    height: 100%;
 }
 
 div.carousel-caption {
    color: #000000;
 }
 
 .carousel-img {
     width: 100%;
     height: 600px;
 }
 
 .box-line {
    width: 150px;
    border-bottom: 2px solid #000000;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
 }


 /* side contents */

 #side_left {
    width: 300px;
    height: 600px;
    line-height: 100px;
    padding-top: 100px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 250px;
    display: inline-block;
    border: 1px solid #926a98;
    background: #ffffff;
    -webkit-box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    transition: all 1.0s cubic-bezier(.25,.8,.25,1);
 }
 
 #side_left:hover {
    -webkit-box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
    box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
 }
 
 #contents {
    width: 300px;
    height: 600px;
    line-height: 100px;
    padding-top: 100px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #926a98;
    background: #ffffff;
    -webkit-box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    transition: all 1.0s cubic-bezier(.25,.8,.25,1);
 }
 
 #contents:hover {
    -webkit-box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
    box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
 }

 /* 메인 페이지 링크 버튼 */

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 
 .main-btn-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 }
 
 .main-btn {
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Noto Sans KR',sans-serif; 
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    text-decoration: none;
    width: 100%;
 }
 
 .main-btn-1 {
    position: relative;
    left: 0;
    background: #7f5885;
    border: 1px solid #7f5885;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
 }
 
 .main-btn-2 {
    position: relative;
    left: 0;
    background: #7f5885;
    border: 1px solid #7f5885;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
 }
 
 .main-btn-3 {
    position: relative;
    left: 0;
    background: #7f5885;
    border: 1px solid #7f5885;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
 }
 
 /* 버튼 hover 효과 */
 
 .main-btn-1:hover {
    text-decoration: none;
    color: #000000; 
    background: rgb(199,169,197,.3);
    box-shadow: 1px 1px 2px rgba(255,255,255,.2);
    transition: all 250ms linear;
 }
 
 
 .main-btn-2:hover {
    text-decoration: none;
    color: #000000; 
    background: rgba(195,161,198,.3);
    box-shadow: 1px 1px 2px rgba(255,255,255,.2);
    transition: all 250ms linear;
 }
 
 .main-btn-3:hover {
    text-decoration: none;
    color: #000000; 
    background: rgba(195,161,198,.3);
    box-shadow: 1px 1px 2px rgba(255,255,255,.2);
    transition: all 250ms linear;
 }
 

 div#contents>a {
    text-decoration: none;
 }

 
 #side_right {
    width: 300px;
    height: 600px;
    line-height: 100px;
    padding-top: 100px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #926a98;
    background: #ffffff;
    -webkit-box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    box-shadow: 2px 3px 7px -2px rgba(0,0,0,0.6);
    transition: all 1.0s cubic-bezier(.25,.8,.25,1);
 }
 
 #side_right:hover {
    -webkit-box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
    box-shadow: 2px 3px 7px -2px rgba(0,0,0,1);
 }

 .box {
    padding-left: 60px;
    padding-top: 0;
    padding-right: 100px;
    color: #000000;
    font-family: '배달의민족 한나는 열한살';
    text-decoration: none;
 }
 
 ul.box-list {
    margin: 0;
 }
 
 ul.box-list>
 li.box-list-text {
    font-size: 15px;
    font-weight: 540;
    font-family: 'Noto Sans KR',sans-serif;
    line-height: 20px;
    text-align: left;
    color: #000000;
 }
 
 

 