/* media query */
@media (min-width: 0px) and (max-width: 500px) {
   
   
   .banner-header {
       width: 100%;
   }
   
   #mainContents {
      min-width: 0px;
   }

   .main-contents-content {
      width: 100%;
   }

   .main-contents-container .first-row, 
   .main-contents-container .second-row {
      flex-direction: column;
   }

   .main-contents-container ul.horizontal {
      flex-direction: column;
   }
}

