/* media query */

@media (min-width: 0px) and (max-width: 500px) {
    #banner .banner-header img {
        width: 300px;
        position: relative;
        left: -18.555%;
     }
  
     .banner-conainner
     .banner-contents {
        position: absolute;
        left: 10%;
        top: auto;
     }
  
     .main-contents-container 
     .first-row, 
     .main-contents-container 
     .second-row {
        margin-left: 50px;
     }
  
     .artwork-title {
        text-align: left;
     }
  
     .main-contents-container li.artwork-list p {
        text-align: left;
     }
   
     .main-contents-container .selected .artwork-details {
         text-align: left;
     }
  
     .main-contents-container .story-headline {
        text-align: left;
     }
      
     .main-contents-container 
     .like-artwork li:last-child  
     .artwork-details,
     .main-contents-container
     .like-artwork li:nth-last-child(2)
     .artwork-details {
       text-align: left;
       float: left;
     }
}

@media screen and (max-width: 750px) { 
    .columns { column-gap: 0px; }
    .columns figure { width: 100%; }
}

@media screen and (max-width: 1366px) {
    .main-contents-container 
    .first-row, 
    .main-contents-container 
    .second-row {
       display: flex;
       flex-direction: row;
    }
 
    .banner-conainner 
    article.banner-contents-context p.after {
       visibility: hidden;
       display: none;
    }
 
    .fas.fa-long-arrow-alt-right {
       visibility: visible;
    }
 }
 
 @media screen and (max-width: 1000px) {
    .main-contents-container 
    .first-row, 
    .main-contents-container 
    .second-row {
       margin: 0 auto;
       display: flex;
       flex-direction: column;
       text-align: center;
    }
  
   .main-contents-container
   .comment {
       text-align: left;
   }
 
   .main-contents-container 
   .section-title:nth-child(2n + 1) {
       padding-top: 20px; 
   }
 
    .main-contents-container 
    ul.horizontal {
       margin-top: 20px;
    }
 
    .main-contents-container
    .sale-content {
       padding-top: 20px;
    }
 
    .banner-conainner 
    article.banner-contents-context p.after {
       visibility: hidden;
       display: none;
    }
 
    .fas.fa-long-arrow-alt-right {
       visibility: visible;
    }
 }
 
 @media screen and (max-width: 935px) {
     #banner
    .banner-header {
       padding-left: 25px;
    } 
 
    .banner-conainner
    article.banner-contents-context p {
       text-align: left;
    }
 
    #banner
    .banner-header
    img {
       width: 600px;
       height: 180px;
       margin-right: 130px;
    }
 
    .banner-conainner
    .banner-contents h1 {
       margin-bottom: 30px;
    }
 
    .banner-conainner 
    article.banner-contents-context p.after {
       visibility: hidden;
       display: none;
    }
 
    .fas.fa-long-arrow-alt-right {
       visibility: visible;
    }
 }
 
 @media screen and (max-width: 880px) {
    .banner-conainner 
    article.banner-contents-context p.before {
       visibility: hidden;
       display: none;
    }
 
    .banner-conainner 
    article.banner-contents-context p.after {
       visibility: visible;
       display: block;
    }
 
    .banner-conainner
    article.banner-contents-context p {
       text-align: center;
       font-style: italic;
    }
 
    .banner-conainner
    .banner-contents {
       position: absolute;
       left: 30%;
       top: auto;
    }
 
    .main-contents-container 
    .first-row, 
    .main-contents-container 
    .second-row {
       margin-left: 180px;
    }
 
    .fas.fa-long-arrow-alt-right {
       visibility: visible;
    }
 }
 
 @media screen and (max-width: 800px) {
    .banner-conainner 
    article.banner-contents-context p.before {
       visibility: hidden;
       display: none;
    }
 
    .banner-conainner 
    article.banner-contents-context p.after {
       visibility: visible;
       display: block;
    }
 
    .banner-conainner
    article.banner-contents-context p {
       text-align: center;
       font-style: italic;
    }
 
    .banner-conainner
    .banner-contents {
       position: absolute;
       left: 28.555%;
       top: auto;
    }
 
    .main-contents-container 
    .first-row, 
    .main-contents-container 
    .second-row {
       margin-left: 180px;
    }
 
    #banner
    .banner-header {
       left: -45px; 
    }
 
    .fas.fa-long-arrow-alt-right {
       visibility: hidden;
    }
 
    #footer 
    a.wrap-logo-box.wrap-logo-title {
       position: relative;
       top: 0;
       left: 20%;
    }
 }
 
 @media screen and (max-width: 768px) {
    .banner-conainner
    .banner-contents {
       left: 26.555%;
       top: auto;
    }
 }
 
 @media screen and (max-width: 694px) {
    .main-contents-container .sale-outline {
        line-height: 20px;
        text-align: left;
        margin: 10px auto 10px;
    }
 
    .main-contents-container 
    ul.horizontal {
       flex-direction: column;
       margin: 0;
    }
 
    .main-contents-container
    .sale-content {
       flex-direction: column;
       margin: 0;
    }
 }
 
 
 
 
 
 
 
 

