<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../common/css/common.css">
    <link rel="stylesheet" href="../Assets/css/404.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Muli|Nanum+Myeongjo|Noto+Sans|Noto+Sans+KR|Noto+Serif|Open+Sans+Condensed:300|Roboto|Roboto+Mono|Ubuntu|Work+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <title>그리다,세상을.</title>
</head>
<body>
   <div id="centerWrapper">  
       <div id="propOpenWrapper">
         <div id="pgBd">
            <div class="content">
               <h2><%=errorStatus%></h2>
               <p><%=context%></p>    
               <a href="/">home</a>
            </div>
            <div class="art-frame-panel">
                <img class="banner-img" src="../Assets/image/최우성_불이난다.jpg">
                    <div class="art-frame-area">
                        <ul class="art-frame-text">
                            <li class="art-frame-title">제목: 불이난다.</li>
                            <li class="art-frame-description">그린 사람: 5살(추정)때의 최우성</li>
                            <li class="art-frame-description frame-description-line">
                                    사용 재료: 종이에 크래파스(??.?x??.?)
                            </li>
                            <li class="art-frame-description">
                                    5살(추정)때의 최우성이 그린 집에 불이나는 것을 그렸음.
                            </li> 
                        </ul>
                    </div>   
                </div> 
          </div>
          <div id="pgFt">
            <div id="pgFt-inner" class="pgft-desktop">
              <div id="footer-logo-wrapper">
                 <a id="footer-logo" href="/">
                    <span>그리다,세상을.</span>
                </a> 
              </div>
            </div>  
          </div>  
       </div> 
   </div> 
</body>
</html>