<div id="footer">
        <div class="logo">
            <a  href="/" class="wrap-logo-box wrap-logo-title">
                <span class="wrap-logo-text-1">그리다,</span>
                <br>
                <span class="wrap-logo-text-2">세상을.</span>
            </a>
        </div>
        <div class="copyright">
           <span class="copyright-site">2019©️그리다,세상을.</span><br>
           <span class="copyright-img">©️이 페이지에 있는 모든 그림들을 무단,복제 를 금합니다.</span>
        </div>
</div>