<div id="header">
        <div class="logo">
            <a class="wrap-logo-box wrap-logo-title" href="/">  
                <span class="wrap-logo-text-1">그리다,</span>
                <span class="wrap-logo-text-2">세상을.</span>
            </a>
        </div>
</div>