<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../Assets/css/post.css">
    <link rel="stylesheet" href="../../Assets/css/mq.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Muli|Nanum+Myeongjo|Noto+Sans|Noto+Sans+KR|Noto+Serif|Open+Sans+Condensed:300|Roboto|Roboto+Mono|Ubuntu|Work+Sans|Courgette|Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>   
    <!-- bootstrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>그리다,세상을.</title>
</head>
<body>
    <div id="wrap">
        <%- include('header.ejs') -%>
        <div class="post-wrap">
           <div class="post-contents-wrap">
            <div class="post-page">
              <div class="post-space">
                 <div class="post-banner-container"></div> 
              </div>
              <div class="artwork-view post-left-columns">
                 <div id="nameSection">
                   <h2 class="art-title">테스트 중입니다.불편 끼쳐드려 대단히 죄송합니다.</h2>   
                   <h3 class="art-author">
                       by
                     
                     <span>
                        <a href="/">Brian Choi</a>
                     </span>  
                   </h3>  
                 </div>
                 <div class="middle-columns">
                    <div id="travelArt">
                        <a class="popupImage" href="/">
                           <img src="">
                        </a>
                    </div>
                 </div>
                 <div id="artworkInfo" class="left-columns">
                   <div id="artworkInfoInner">
                      <div class="inner-title">
                         <h4>Test</h4> 
                      </div> 
                      <div class="art-context">
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br> 
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                          테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다. 테스트 입니다.
                          테스트 입니다.
                          <br>
                      </div>      
                   </div>   
                 </div>                    
              </div>
              <div id="rightColumns" class="right-column">
                <div id="profile-container">
                   <div class="artist-pics">
                       <div class="profile-pics">
                        <a class="profileImage" href="/Assets/image/profile_img.jpg">
                           <img src="/Assets/image/profile_img.jpg" alt="Brian Choi image">  
                        </a>
                       </div>
                       <p id="profileName">
                            <span class="title">Brian Choi</span>
                            <span class="profile-space"></span>
                       </p> 
                       <div class="social-network">
                           <p id="social-text">작성자 sns 주소</p>
                       </div>
                       <ol id="social-link">
                         <li>
                            <a href="/">facebook</a> 
                         </li>
                         <li>
                            <a href="/">instagram</a> 
                         </li>
                         <li>
                            <a href="/">blog</a> 
                         </li>      
                       </ol>
                   </div>
                </div>
              </div> 
            </div>
           </div>   
        </div>          
        <%- include('contents.ejs') -%>
        <%- include('footer.ejs') -%>
    </div>
</body>
<script src="../../common/js/animate.js"></script>
<script>
    $(document).ready(function() {
        for (var i = 0;i < 10;i++) {
           if (window.location.pathname == `/post/pageId=${i}` || window.location.pathname == `/post/pageId=${i}/`) {
              $( ".popupImage img" ).attr("src",`/Assets/image/${i}.jpg`);
           } 
        } 
    });

    $( window ).on("load",function() {
         $( ".post-wrap" ).css("visibility","visible");
         $( "#mainContents" ).css("visibility","visible");
         $( ".alert" ).css("dislay","none");  
    });

</script>
</html>